html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.CodeMirror {
	height: calc(100vh - 80px) !important;
}

/* .editor-toolbar button { */
.easymde-dropdown-content button {
	font-weight: 100 !important;
	width: 100%;
}